docs/scripts/Analise_de_Credito_com_IA.json
{
  "name": "Credito AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solicitar-credito",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        60,
        80
      ],
      "id": "8458139f-f2f0-469e-828a-95f8bb823bff",
      "webhookId": "8c5bf793-05a7-4f81-88ef-7851e266e815",
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "// Obter dados do cliente e empréstimos\nconst clienteData = $node[\"Consultar Cliente\"].json;\nconst emprestimosData = $node[\"Consultar Empréstimos\"].json;\nconst inputData = $node[\"Webhook\"].json;\n\n// Log para depuração\nconsole.log(\"Dados do cliente:\", JSON.stringify(clienteData));\nconsole.log(\"Dados de empréstimos:\", JSON.stringify(emprestimosData));\nconsole.log(\"Dados da solicitação:\", JSON.stringify(inputData));\n\n// Verificar formato dos dados e ajustar\nlet cliente;\nif (Array.isArray(clienteData)) {\n  cliente = clienteData.length > 0 ? clienteData[0] : null;\n} else {\n  cliente = clienteData; // Se já for um objeto único\n}\n\nlet emprestimos;\nif (Array.isArray(emprestimosData)) {\n  emprestimos = emprestimosData;\n} else if (emprestimosData) {\n  emprestimos = [emprestimosData]; // Converter objeto único em array\n} else {\n  emprestimos = [];\n}\n\n// Verificar se o cliente existe\nif (!cliente) {\n  cliente = {\n    nome: \"Cliente não encontrado\",\n    renda_mensal: 0,\n    score_credito: 0,\n    limite_pre_aprovado: 0,\n    historico_pagamento: \"Não disponível\",\n    tempo_relacionamento_bancario: 0,\n    id: null\n  };\n}\n\n// Extrair dados da solicitação do webhook\n// Verificar se os dados estão no objeto body ou diretamente no json\nlet valorSolicitado = 0, parcelaSolicitada = 0, finalidade = \"Não Informado\", cpf = \"Não Informado\";\n\n// Verificar formato dos dados e ajustar\nlet dadosSolicitacao;\nif (Array.isArray(inputData)) {\n  dadosSolicitacao = inputData.length > 0 ? inputData[0] : null;\n} else {\n  dadosSolicitacao = inputData; // Se já for um objeto único\n}\n\n// Verificar se dadosSolicitacao existe e tem a propriedade body\nif (dadosSolicitacao && dadosSolicitacao.body) {\n  valorSolicitado = parseFloat(dadosSolicitacao.body.valorSolicitado || 0);\n  finalidade = dadosSolicitacao.body.finalidade || \"Não Informado\";\n  parcelaSolicitada = parseInt(dadosSolicitacao.body.parcelaSolicitada || 0);\n  cpf = dadosSolicitacao.body.cpf || \"Não Informado\";\n} else if (dadosSolicitacao) {\n  // Se não tiver body, tenta extrair diretamente do objeto\n  valorSolicitado = parseFloat(dadosSolicitacao.valorSolicitado || 0);\n  finalidade = dadosSolicitacao.finalidade || \"Não Informado\";\n  parcelaSolicitada = parseInt(dadosSolicitacao.parcelaSolicitada || 0);\n  cpf = dadosSolicitacao.cpf || \"Não Informado\";\n}\n\nconsole.log(\"Valor solicitado extraído:\", valorSolicitado);\nconsole.log(\"Parcelas extraídas:\", parcelaSolicitada);\nconsole.log(\"Finalidade extraída:\", finalidade);\nconsole.log(\"CPF extraído:\", cpf);\n\n// Calcular comprometimento atual\nlet totalParcelasMensais = 0;\nlet emprestimosTexto = \"\";\n\nif (emprestimos.length > 0) {\n  for (const emp of emprestimos) {\n    const valorParcela = parseFloat(emp.valor_parcela || 0);\n    totalParcelasMensais += valorParcela;\n    \n    // Alguns campos podem estar faltando no empréstimo\n    const parcelas = emp.parcelas || 0;\n    const taxaJuros = emp.taxa_juros ? parseFloat(emp.taxa_juros) : 0;\n    const status = emp.status || 'desconhecido';\n    \n    emprestimosTexto += `- Empréstimo, ${parcelas} parcelas de R$ ${valorParcela.toFixed(2)}, taxa de ${taxaJuros.toFixed(2)}%, status: ${status}\\n`;\n  }\n} else {\n  emprestimosTexto = \"Nenhum empréstimo ativo.\";\n}\n\n// Calcular comprometimento\nconst rendaMensal = parseFloat(cliente.renda_mensal || 1);\nconst comprometimentoAtual = (totalParcelasMensais / rendaMensal) * 100;\n\n// Estimar valor da parcela com diferentes opções de prazo\nconst taxaJurosEstimada = 1.5; // 1.5% ao mês\nconst valorParcelaAtual = valorSolicitado / parcelaSolicitada * (1 + (taxaJurosEstimada / 100));\n\n// Calcular opções de parcelas\nconst opcoesParcelas = [12, 24, 36, 48, 60];\nconst opcoesParcelasTexto = opcoesParcelas.map(numParcelas => {\n  const valorParcelaOpcao = valorSolicitado / numParcelas * (1 + (taxaJurosEstimada / 100));\n  const comprometimentoOpcao = comprometimentoAtual + ((valorParcelaOpcao / rendaMensal) * 100);\n  return `${numParcelas} parcelas: R$ ${valorParcelaOpcao.toFixed(2)} (${comprometimentoOpcao.toFixed(2)}% da renda)`;\n}).join(\"\\n\");\n\nconst novoComprometimento = comprometimentoAtual + ((valorParcelaAtual / rendaMensal) * 100);\n\n// Verificar se o cliente foi encontrado\nconst clienteEncontrado = cliente.id !== null;\nconsole.log(\"Cliente encontrado:\", clienteEncontrado);\n\n// Preparar prompt para a IA\nlet prompt;\n\nif (!clienteEncontrado) {\n  prompt = `\nVocê é um analista de crédito experiente em uma instituição financeira. \nInfelizmente, não foi possível encontrar o cliente com o CPF fornecido em nossa base de dados.\n\nSOLICITAÇÃO ATUAL:\n- CPF: ${cpf}\n- Valor solicitado: R$ ${valorSolicitado.toFixed(2)}\n- Número de parcelas solicitadas: ${parcelaSolicitada}\n- Finalidade: ${finalidade}\n\nPor favor, informe ao cliente que não foi possível processar a solicitação de crédito porque seus dados não foram encontrados em nosso sistema. Recomende que o cliente entre em contato com nossa central de atendimento para atualizar seu cadastro antes de fazer uma nova solicitação.\n\nDECISÃO: NEGADO\n\nMOTIVO: Cliente não encontrado na base de dados.\n\nRECOMENDAÇÕES: O cliente deve atualizar seu cadastro antes de solicitar crédito.\n`;\n} else {\n  prompt = `\nVocê é um analista de crédito experiente em uma instituição financeira. Sua tarefa é avaliar se um cliente deve ter seu pedido de empréstimo aprovado ou negado com base nos dados fornecidos, e sugerir o número ideal de parcelas e valor da parcela.\n\nDADOS DO CLIENTE:\n- Nome: ${cliente.nome || 'Não informado'}\n- Renda mensal: R$ ${parseFloat(cliente.renda_mensal || 0).toFixed(2)}\n- Score de crédito: ${cliente.score_credito || 'Não informado'} (escala de 0 a 1000)\n- Histórico de pagamento: ${cliente.historico_pagamento || \"Não disponível\"}\n- Tempo de relacionamento bancário: ${cliente.tempo_relacionamento_bancario || \"Não disponível\"} meses\n- Limite pré-aprovado: R$ ${parseFloat(cliente.limite_pre_aprovado || 0).toFixed(2)}\n\nEMPRÉSTIMOS ATUAIS:\n${emprestimosTexto}\n\nSOLICITAÇÃO ATUAL:\n- Valor solicitado: R$ ${valorSolicitado.toFixed(2)}\n- Número de parcelas solicitadas: ${parcelaSolicitada}\n- Finalidade: ${finalidade}\n\nCOMPROMETIMENTO DE RENDA:\n- Comprometimento atual: ${comprometimentoAtual.toFixed(2)}%\n- Comprometimento estimado com o novo empréstimo: ${novoComprometimento.toFixed(2)}%\n\nOPÇÕES DE PARCELAMENTO (com taxa de ${taxaJurosEstimada}% ao mês):\n${opcoesParcelasTexto}\n\nCom base nessas informações, realize uma análise detalhada e determine:\n1. Se o crédito deve ser APROVADO ou NEGADO\n2. Qual o número ideal de parcelas para este cliente\n3. Qual o valor da parcela recomendado\n\nSua resposta deve seguir o seguinte formato:\n\nDECISÃO: [APROVADO/NEGADO]\n\nMOTIVO: [Explicação clara e detalhada da decisão]\n\nPARCELAS RECOMENDADAS: [Número de parcelas ideal]\n\nVALOR DA PARCELA: [Valor da parcela recomendado]\n\nANÁLISE DE RISCO:\n1. [Ponto de análise 1]\n2. [Ponto de análise 2]\n3. [Ponto de análise 3]\n\nRECOMENDAÇÕES: [Se aplicável, sugestões para o cliente]\n`;\n}\n\n// Retornar todos os dados processados\nreturn {\n  cliente,\n  emprestimos,\n  comprometimentoAtual,\n  valorSolicitado,\n  parcelaSolicitada,\n  valorParcelaAtual,\n  novoComprometimento,\n  finalidade,\n  prompt,\n  clienteEncontrado,\n  cpf,\n  opcoesParcelas\n};"
      },
      "name": "Preparar Dados para IA",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        780,
        80
      ],
      "id": "afaec06b-3ba6-44a6-9418-d6a8bb2c6a2d",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "// Obter resposta da IA\nconst respostaData = $node[\"Análise de Crédito com IA\"].json;\nconst dadosAnterior = $node[\"Preparar Dados para IA\"].json;\n\n// Extrair o conteúdo da resposta da IA\nlet respostaTexto = \"\";\nif (respostaData && respostaData.choices && respostaData.choices.length > 0) {\n  // Formato da API OpenAI\n  respostaTexto = respostaData.choices[0].message.content;\n} else {\n  // Tentar outros formatos ou usar o objeto inteiro como string\n  respostaTexto = JSON.stringify(respostaData);\n}\n\nconsole.log(\"Resposta da IA:\", respostaTexto);\n\n// Extrair decisão (APROVADO, NEGADO ou INCONCLUSIVO)\nlet decisao = \"negado\"; // Padrão\nlet motivo = \"Não foi possível determinar\";\nlet parcelasRecomendadas = dadosAnterior.parcelas; // Valor padrão\nlet valorParcelaRecomendado = dadosAnterior.valorParcelaAtual; // Valor padrão\n\n// Se o cliente não foi encontrado, já sabemos a decisão\nif (!dadosAnterior.clienteEncontrado) {\n  decisao = \"negado\";\n  motivo = \"Cliente não encontrado na base de dados.\";\n} else {\n  // Procurar por \"DECISÃO: APROVADO\", \"DECISÃO: NEGADO\" ou \"DECISÃO: INCONCLUSIVO\"\n  if (respostaTexto.includes(\"DECISÃO: APROVADO\")) {\n    decisao = \"aprovado\";\n  } else if (respostaTexto.includes(\"DECISÃO: INCONCLUSIVO\")) {\n    decisao = \"inconclusivo\";\n  }\n\n  // Extrair motivo\n  const motivoMatch = respostaTexto.match(/MOTIVO:(.*?)(?=PARCELAS RECOMENDADAS:|ANÁLISE DE RISCO:|RECOMENDAÇÕES:|$)/s);\n  if (motivoMatch && motivoMatch[1]) {\n    motivo = motivoMatch[1].trim();\n  }\n  \n  // Extrair parcelas recomendadas\n  const parcelasMatch = respostaTexto.match(/PARCELAS RECOMENDADAS:(.*?)(?=VALOR DA PARCELA:|ANÁLISE DE RISCO:|RECOMENDAÇÕES:|$)/s);\n  if (parcelasMatch && parcelasMatch[1]) {\n    const parcelasTexto = parcelasMatch[1].trim();\n    // Tentar extrair o número de parcelas\n    const numeroMatch = parcelasTexto.match(/\\d+/);\n    if (numeroMatch) {\n      parcelasRecomendadas = parseInt(numeroMatch[0]);\n    }\n  }\n  \n  // Extrair valor da parcela\n  const valorParcelaMatch = respostaTexto.match(/VALOR DA PARCELA:(.*?)(?=ANÁLISE DE RISCO:|RECOMENDAÇÕES:|$)/s);\n  if (valorParcelaMatch && valorParcelaMatch[1]) {\n    const valorParcelaTexto = valorParcelaMatch[1].trim();\n    // Tentar extrair o valor numérico\n    const valorMatch = valorParcelaTexto.match(/R\\$\\s*(\\d+[.,]\\d+)/);\n    if (valorMatch) {\n      valorParcelaRecomendado = parseFloat(valorMatch[1].replace(',', '.'));\n    }\n  }\n}\n\nreturn {\n  ...dadosAnterior,\n  decisao,\n  motivo,\n  parcelasRecomendadas,\n  valorParcelaRecomendado,\n  analise_completa: respostaTexto\n};"
      },
      "name": "Interpretar Resposta da IA",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1440,
        80
      ],
      "id": "7bfe8d12-8e93-46be-bdfa-2f4d9b625c43",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "table": "solicitacoes_credito",
        "columns": "=cliente_id,valor_solicitado,finalidade,resultado,motivo,analise_ia,parcelas_solicitadas,parcelas_recomendadas,valor_parcela_recomendado",
        "additionalFields": {}
      },
      "name": "Registrar Solicitação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2360,
        -220
      ],
      "id": "95b560c0-926e-4736-9563-52a1302f45a3",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "oVhvjeCmYUkKLw2X",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Formata Dados').item.json }}",
        "options": {}
      },
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2760,
        80
      ],
      "id": "29d25255-656e-47f8-9726-c4139a71287b",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "cpf",
              "value": "={{ $json.body.cpf }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "nome",
            "renda_mensal",
            "score_credito",
            "limite_pre_aprovado",
            "historico_pagamento"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        280,
        80
      ],
      "id": "63d79faf-eebd-475d-876f-4d89bcc712bb",
      "name": "Consultar Cliente",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "oVhvjeCmYUkKLw2X",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "emprestimos",
          "mode": "list",
          "cachedResultName": "emprestimos"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "cliente_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "status",
              "value": "ativo"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "parcelas",
            "valor_parcela",
            "taxa_juros",
            "status",
            "cliente_id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        500,
        80
      ],
      "id": "3d0d4aec-e0ea-41eb-ba4b-263a9801475b",
      "name": "Consultar Empréstimos",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "oVhvjeCmYUkKLw2X",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $node[\"Preparar Dados para IA\"].json.prompt }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1000,
        80
      ],
      "id": "28e97d5b-6314-4c46-92ad-c27484d635bc",
      "name": "Análise de Crédito com IA",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "6EqLi7WnRcW96ANy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Prepara e Processa a regra usando IA\n",
        "height": 340,
        "width": 600,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "adec3152-ee6e-4add-b785-a58586ae58fb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Recebe a Requisição e Efetua a leitura dos dados do cliente no banco\n",
        "height": 340,
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9df3d690-a727-441f-95c7-971c9576d801",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Obter dados do nó anterior\nconst dados = $node[\"Interpretar Resposta da IA\"].json;\n\n// Criar objeto formatado para inserção no banco\nreturn {\n  json: {\n    cliente_id: dados.cliente && dados.cliente.id ? dados.cliente.id : null,\n    valor_solicitado: Number(dados.valorSolicitado || 0),\n    finalidade: dados.finalidade || \"Não especificada\",\n    resultado: dados.decisao || \"negado\",\n    motivo: dados.motivo || \"Não especificado\",\n    analise_ia: dados.analise_completa || \"\",\n    parcelas_solicitadas: Number(dados.parcelaSolicitada || 0),\n    parcelas_recomendadas: Number(dados.parcelasRecomendadas || 0),\n    valor_parcela_recomendado: Number(dados.valorParcelaRecomendado || 0)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        80
      ],
      "id": "a8d9df58-46a9-4786-a8a5-8389739173cb",
      "name": "Formata Dados",
      "notesInFlow": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "topic": "decisao_negada",
        "useKey": true,
        "key": "={{ $('Formata Dados').item.json.cliente_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.kafka",
      "typeVersion": 1,
      "position": [
        2080,
        680
      ],
      "id": "0961aa70-822d-43ce-9872-3da95a88ac83",
      "name": "Kafka - Eventos Recusa",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "kafka": {
          "id": "ROtNTqrHyMum7q7o",
          "name": "Kafka account"
        }
      }
    },
    {
      "parameters": {
        "topic": "decisao_aprovada",
        "useKey": true,
        "key": "={{ $('Formata Dados').item.json.cliente_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.kafka",
      "typeVersion": 1,
      "position": [
        2080,
        420
      ],
      "id": "6434526c-f8b9-4188-878d-02e8352af797",
      "name": "Kafka - Eventos de Aprovação",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "kafka": {
          "id": "ROtNTqrHyMum7q7o",
          "name": "Kafka account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e6c25bf-c60f-4649-9b80-fd4153998abf",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "aprovado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        460
      ],
      "id": "00855b3f-1919-49b7-8951-7f8773595fd1",
      "name": "If",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Consultar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados para IA": {
      "main": [
        [
          {
            "node": "Análise de Crédito com IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Resposta da IA": {
      "main": [
        [
          {
            "node": "Formata Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Solicitação": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Cliente": {
      "main": [
        [
          {
            "node": "Consultar Empréstimos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Empréstimos": {
      "main": [
        [
          {
            "node": "Preparar Dados para IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Análise de Crédito com IA": {
      "main": [
        [
          {
            "node": "Interpretar Resposta da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Dados": {
      "main": [
        [
          {
            "node": "Registrar Solicitação",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kafka - Eventos Recusa": {
      "main": [
        []
      ]
    },
    "Kafka - Eventos de Aprovação": {
      "main": [
        []
      ]
    },
    "Responder": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Kafka - Eventos de Aprovação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kafka - Eventos Recusa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd00054d-ac27-4deb-8f68-c598afcd2b38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c1a01694aa25f3cff3ac0c53c48eb83cd3a9d5379824390f6f18ff76a9e69d74"
  },
  "id": "CpNUFcTEYocMf9pw",
  "tags": []
}